<html>
    <head>
      <title>Aprendendo node</title>
    </head>
    <body>
      <form action='/check' method='POST' >
        <input  type='text' name='username' />
        <input  type='date' name='userage' required />
        <button type='submit'>Enviar</button>
      </form>
    </body>
</html>
